*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: 0;
}





/* header  */

header{
    background-color: rgb(250, 244, 237);
}

.header{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;

    padding: 30px 130px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav{
    display: flex;
    gap: 115px;
}

.nav a{
    color: #37474F;
    font-size: 25px;
    font-weight: 700;
}



/* background-section  */

.background-section{
    background: url(./assets/bg.png);
    height: 495px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}


.second-section h1 {
    font-size: 64px;
    font-weight: 700;
    color: #000;
    margin-top: 70px;
    
}


.second-section {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
     padding: 30px 130px;
    display: flex;
    flex-direction: column;
    gap: 70px;
    align-items: center;

}


.fotos {
    display: flex;
    gap: 90px;
    flex-wrap: wrap;
}